pandas==2.1.2
timm==0.9.8
torch==2.0.1
torchvision
tqdm
torchsummary
matplotlib
imageio
grad-cam
pillow
torch_lr_finder
albumentations
git+https://github.com/dawnik17/transformer.git
tokenizers==0.13.0
transformers==4.28.1
peft==0.3.0
